@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is an issue tracker example project for the course PV178 Intro to C#/.NET development.</p>
<p>See the file logins.txt for registered example usernames and their respective passwords.</p>
