@{
    ViewBag.Title = "Contact";
    var email = "oliver.pacut@gmail.com";
}
<h2>@ViewBag.Title.</h2>

<address>
    Masaryk University<br />
    Botanicka street 68a<br />
    Brno, Czech Republic 602 00<br />
    <abbr title="Phone">P:</abbr>
    +420-549 491 810
</address>

<p>
    Author: Oliver Pacut <br />
    Email: @email
</p>

<p>
    This is a student project. It is made, in its entirety, for purely educational purposes.
</p>